---
import Layout from '../layouts/Layout.astro';
import * as Card from '$lib/components/ui/card';
import { Separator } from '$lib/components/ui/separator';
---

<Layout title="About">
	<div class="container max-w-3xl py-6">
		<Card.Root>
			<Card.Content class="prose dark:prose-invert max-w-none pt-6 text-center">
				<img src="/images/me.png" alt="Me" class="w-1/2 mb-6 mx-auto block" />
				<p>
					
				</p>
			</Card.Content>
		</Card.Root>
	</div>
</Layout>
